/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

body {
	background: #e8e8e8 url("/img/bg.png") 50% 110px no-repeat;
}
/*шапка*/
.conteiner {
	padding: 168px 0 137px 0;
	max-width: 841px;
	margin: 0px auto;
}
.conteiner-top {
	text-align: center;
	margin: 0 0 70px 0;
}
.travel {
	color: #969da0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: normal;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	margin: 0 0 15px 0;
}
.title {
	color: #273d46;
	font-size: 36px;
	line-height: 50px;
	max-width: 725px;
	margin: 0px auto;
}

/*картинка*/
.conteiner-image {
	box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
	background: #fff;
	padding: 10px;
	margin: 0 0 85px 0;
}
.conteiner-image img {
	max-width: 100%;
}

/*текст*/
.conteiner-buttom {
	padding: 0 45px;
}
.conteiner-buttom-text {
	color: #54646b;
	font-size: 24px;
	line-height: 40px;
	text-align: left;
	margin: 0 0 48px 0;
}
.conteiner-buttom-text p {
	margin: 0 0 40px 0px;
}
.conteiner-buttom-text p:last-child {
	margin: 0;
}
.conteiner-buttom-info-list {
	margin: 0 0 59px 0;
}
.conteiner-buttom-info-list li {
	background: url("../img/icons/check.png") 0 0 no-repeat;
	font-size: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 0 0 15px 0;
	padding: 0 35px;
}
.conteiner-buttom-info-list li:nth-child(1) {
	color: #273d46;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.conteiner-buttom-info-list li:nth-child(2) {
	color: #80b7b3;
	font-style: italic;
}
.conteiner-buttom-info-list li:nth-child(3) {
	color: #273d46;
	font-weight: bold;
}
.conteiner-buttom-info-list li:nth-child(4) {
	color: #273d46;
	text-decoration: line-through;
}
.conteiner-buttom-info-list li:nth-child(4) span {
	opacity: 0.3;
}
.conteiner-buttom-info-list li:last-child {
	margin: 0;
}
.conteiner-buttom-info-link {
	display: inline-block;
	height: 44px;
	line-height: 44px;
	box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.5);
	background: #80b7b3;
	border-radius: 24px;
	padding: 0 30px;
	color: #ffffff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
}
.conteiner-buttom-info-link span {
	padding: 0 30px 0 0;
	background: url("../img/icons/arrow.svg") right no-repeat;
}
.conteiner-buttom-info-link:hover {
	/* изменение цвета кнопки при наведении*/
	background-color: #441c1d;
}
.conteiner-buttom-info-link:active {
	/*нажатие кнопки*/
	position: relative;
	top: 3px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}
